<!-- lista miejsc - na razie w formie takiej, potem to trzeba na mapie poukłądać jakoś zgodnie ze współrzędnymi -->

<!-- <div class="places">
  <div *ngFor="let place of places"
    [class.selected]="place === selectedPlace"
    (click)="onSelect(place)">
      <span class="badge">{{place.id}}</span> {{place.name}}
  </div>
</div> -->

<!-- pop-up miejsca -->
<div *ngIf="selectedPlace">
  <app-place-pop-up [selectedPlace]="selectedPlace" (closed)="onClosed($event)"></app-place-pop-up>
</div>

<!-- <input type="text" [(ngModel)]="message" placeholder="your message..."> -->

<div class="map" id="map"></div> 
