/* HeroesComponent's private CSS styles */
.selected {
    background-color: #CFD8DC !important;
    color: white;
  }
  .popup{
    width: 80%;
  }
  .places {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .places li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .places li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .places li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .places .text {
    position: relative;
    top: -3px;
  }
  .places .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }

  .mapbox-logo{
    display: none !important;
 }

 /* .map {
    width: 100px;
    height: 100px;
  }*/


  #map { position:absolute; top:30px; bottom:0; left:0; width:100%; }

  .search{ position:absolute; top:0; bottom:0; left:185px; width:100%; height: 100px; }
  #inputSearch {width: 250px;}
 /* .searchBlock{ background-color: tomato;}*/

  #plus{ background-color: blue;}

  button {color: blue;}

  #inputSearch {border: white;}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding-top: 6px;
  padding-bottom: 1px;
  padding-left: 8px;
  padding-right: 8px; 
  font-size: 20px;
  cursor: pointer;
}

.btn2 {
  background-color: black;
  border: none;
  color: white;
 /* padding-top: 6px;
  padding-bottom: 1px;
  padding-left: 8px;
  padding-right: 8px;*/ 
  font-size: 15px;
  cursor: pointer;
  position: relative;
  left: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}




#demo {
  /* margin: 30px 0 50px 0;*/
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  position:absolute;
  top:0; bottom:0; left:0px;
}

#demo .wrapper {
  display: inline-block;
  width: 180px;
  margin: 0 10px 0 0;
  height: 20px;
  position: relative;
}

#demo .parent {
  height: 100%;
  width: 100%;
  display: block;
  cursor: pointer;
  line-height: 30px;
  height: 30px;
  border-radius: 5px;
  background: #F9F9F9;
  border: 1px solid #AAA;
  border-bottom: 1px solid #777;
  color: #282D31;
  font-weight: bold;
  z-index: 2;
  /*position: relative;*/ 
  -webkit-transition: border-radius .1s linear, background .1s linear, z-index 0s linear;
  -webkit-transition-delay: .8s;
  text-align: center;
}

#demo .parent:hover,
#demo .content:hover ~ .parent {
  background: #fff;
  -webkit-transition-delay: 0s, 0s, 0s;
}

#demo .content:hover ~ .parent {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 0;
}

#demo .content {
  position: absolute;
  top: 0;
  display: block;
  z-index: 1;
  height: 0;
  width: 180px;
  padding-top: 30px;
  -webkit-transition: height .5s ease;
  -webkit-transition-delay: .4s;
  border: 1px solid #777;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,.4);
}

#demo .wrapper:active .content {
  height: 123px;
  z-index: 3;
  -webkit-transition-delay: 0s;
}

#demo .content:hover {
  height: 123px;
  z-index: 3;
  -webkit-transition-delay: 0s;
}


#demo .content ul {
  background: #fff;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#demo .content ul a {
  text-decoration: none;
}

#demo .content li:hover {
  background: #eee;
  color: #333;
}

#demo .content li {
  list-style: none;
  text-align: left;
  color: #888;
  font-size: 14px;
  line-height: 30px;
  height: 30px;
  padding-left: 10px;
  border-top: 1px solid #ccc;
}

#demo .content li:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
