<p>
  map works!
</p>
<!-- lista miejsc - na razie w formie takiej, potem to trzeba na mapie poukłądać jakoś zgodnie ze współrzędnymi -->
<ul class="places">
  <li *ngFor="let place of places"
  [class.selected]="place === selectedPlace"
  (click)="onSelect(place)">
    <span class="badge">{{place.id}}</span> {{place.name}}
  </li>
</ul>

<!-- pop-up miejsca -->
<div *ngIf="selectedPlace">
  <app-place-pop-up [selectedPlace]="selectedPlace" (closed)="onClosed($event)"></app-place-pop-up>
</div>
