<!-- lista miejsc - na razie w formie takiej, potem to trzeba na mapie poukłądać jakoś zgodnie ze współrzędnymi -->

<!-- <div class="places">
  <div *ngFor="let place of places"
    [class.selected]="place === selectedPlace"
    (click)="onSelect(place)">
      <span class="badge">{{place.id}}</span> {{place.name}}
  </div>
</div> -->

<!-- pop-up miejsca -->


<div class="search">
 <!-- <input type="text" [(ngModel)]="name" (input)="Search()" /> -->
  <div class="searchBlock">
  <input id="inputSearch" list="searchList" placeholder="Szukaj..." (change)="onSearchChange($event)" #clear name="filterName">
  <button (click) = "clear.value = ''">X</button>
  <button (click) = "addToList(clear.value)">+</button>
  </div>
	<datalist id="searchList">
    <div *ngFor = 'let o of places'>
    <option value="{{o.name}}">
    </div>
  </datalist>
</div>



<div *ngIf="selectedPlace">
  <app-place-pop-up class="popup" [selectedPlace]="selectedPlace" (closed)="onClosed($event)" (navigated)="navigateToPlaceFromPopup($event)"></app-place-pop-up>
</div>

<!-- <input type="text" [(ngModel)]="message" placeholder="your message..."> -->

<div class="map" id="map"></div> 
