<!---<div> class="right"
  <form id="search">
    <input #search type="search" [placeholder]="filled?'Search':''" [ngClass]="{'filled':filled}" 
         (click)="filled=!filled" (blur)="filled=search.value?true:false">
         <button class="close" *ngIf="filled" (click)="search.value='';filled=false">X</button>
  </form>
</div>
-->
<!--
<div class="right">
    <form id="search">
      <input #search type="search" placeholder="Search" [ngClass]="{'filled':filled}" 
           (click)="filled=true" (blur)="filled=search.value?true:false"> 
    </form>
  </div>
-->


<!--

<div class="row">
  <div class="col-sm-4 paddingR0 padding-xs-L0">
    <div class="input-group serachGrp pull-right">
      <input type="text" class="form-control" placeholder="Search...">

    </div>
  </div>
</div>


<div class="row" *ngIf="false">
  <div class="row">
    <p>Nic nie znaleziono</p>
  </div>
</div>

<div *nngFor="let item of a " class="app-col">
  <div class="row">
      <a routerLink="/appdetail" class="col-sm-4">
        <div class="">
          <p>{{}item.app}</p>
        </div>
      </a>
      <div class="col-sm-8 appContent">
        <div class="app-info">
          <div class="appDesDiv">
            <p>{{item.story}}</p>
          </div>
        </div>
      </div>
  </div>
</div>
-->

<input type="text" [(ngModel)]="name" (input)="Search()" />
<table class="table">
  <tr *ngFor = 'let o of places'>
    <td (click)="Goto()">{{o.name}}</td>
  </tr>
</table>